.services-container{
    background-color:#f4effc
    
}
.all-services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
.services-text h4{
  margin-left:500px;
 
  padding: 20px;
  
}

.services-text p{
    text-align:center;
   
}
.my-color{
    color:#ff6e6c;
}

@media only screen and (max-width:688px){
    .all-services{
        grid-template-columns:1fr;
    }
    .services-text h4{
        margin-left:0px;
 
        padding: 20px;
    }

}