.footer{
    height:300px;
    background-color: rgb(28, 0, 128);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    color: white;
}




@media only screen and (max-width:688px){
    .footer{
        height:100%;
        width:100%;
        margin-right: 50px;
        padding: 4px;;
        
    }
    
}